
config ARCH_ANY
    bool
    default y
    select DEFAULT_ANYOS
    select IS_ASTOOL

config ARCH
    string
    default "host"

config PYAS
    bool
    default y

config DET
    bool
    default y

config PYBIND11
	bool "use pybinder 11 or not, default sip"
	default n
